/Section_02/Test/.vs
/Section_02/SimpleAddition/.vs
/Section_05/BackwardCompat/.vs
/Section_06/ArrayReverser/.vs
/Section_06/DeclaringVariables/.vs
/Section_08/ArraySum/.vs
/Section_08/DataScan/.vs
/Section_08/PointersAndTypeDef/.vs
/Section_10/CalculateSum/.vs
/Section_10/SignedDivMul/.vs
/Section_10/CPPCallingConventions/.vs
/Section_10/MemoryAddressing/.vs
/Section_10/ConditionCodes/.vs
/Section_10/IntegersExploration/.vs
/Section_11/ArrayElementsAccess/.vs
/Section_11/ArrayElementsSquares/.vs
/Section_11/CalcArrayCube/.vs
/Section_11/CalcArrayRowColSum/.vs
/Section_12/StringsTransfer/.vs
/Section_12/StringCharacterCount/.vs
/Section_13/TemperatureConversion/.vs
/Section_13/SphereAreaVolume/.vs
/Section_13/Statistics/.vs
/Section_13/MinMax/.vs
/Section_13/CoordinateConversions/.vs
/Section_13/LeastSquares/.vs
/Section_14/MmxAddition/.vs
/Section_14/MmxShift/.vs
/Section_14/MmxMultiplication/.vs
