/Section_02/Test/.vs
/Section_02/SimpleAddition/.vs
/Section_05/BackwardCompat/.vs
/Section_06/ArrayReverser/.vs
/Section_06/DeclaringVariables/.vs
/Section_08/ArraySum/.vs
/Section_08/DataScan/.vs
/Section_08/PointersAndTypeDef/.vs
/Section_10/CalculateSum/.vs
/Section_10/SignedDivMul/.vs
/Section_10/CPPCallingConventions/.vs
/Section_10/MemoryAddressing/.vs
/Section_10/ConditionCodes/.vs
/Section_10/IntegersExploration/.vs
